.container {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

/* .container:hover .box{
    transform: translateY(100px);
} */

.box {
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: #0084ff;
}

.box1:hover {
    transform: translateY(50px);
    transition: transform 1s;
}

.box2 {
    background-color: #44709c;
}

.box2:hover {
    transform: rotate(360deg);
    transform-origin: right top;
    transition: transform 2s;
}

.box3 {
    background-color: #204054;
}
.box3:hover {
    transform: scale(1.5);
    transition: transform 1.5s;
}

.box4 {
    background-color: #204054;
}
.box4:hover {
    transform: skewX(25px);
    transition: transform 1s;
}

.box5 {
    background-color: #44709c;
}
.box5:hover {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform 2s;
}

.box6 {
    background-color: #0084ff;
}
.box6:hover {
    background-color: #0084ff;
    transform:rotate3d(80deg);
    transition: transform 2s;
}

.card {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover {
    transform: rotateY(180deg);
    transition: transform 2s;
}

.face {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
}

.face.front {
    background-color: brown;
}

.face.back {
    background-color: blueviolet;
    transform: rotateX(180deg);
}